<%= form_for(grade) do |f| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :name, class:"form-control" %>
  </div>


  <div class="form-group butons">
    <%= link_to 'Cancelar', grades_path, class: "hvr-skew-backward pull-right" %>
    <%= f.submit :Aceptar, class: "hvr-skew-backward pull-right" %>
  </div>
<% end %>
