<% if user_signed_in? && current_user.id==1 %>
<p id="notice"><%= notice %></p>

<h1>Clases</h1>
<section class="table_flex_five pl-0 pr-0">
<table id="datatable" class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.name %></td>
        <td><%= link_to 'Ver', grade,class: "hvr-skew-backward" %>
        <%= link_to 'Editar', edit_grade_path(grade),class:"hvr-skew-backward" %>
        <%= link_to 'Eliminar', grade, class: "hvr-skew-backward" ,method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>
<br>

<%= link_to 'Nueva Clase', new_grade_path,class: "hvr-skew-backward pull-left" %>
<%end%>