<% if user_signed_in? && current_user.id==1 %>
<div class="jumbotron col-md-6 col-md-offset-3">
<p id="notice"><%= notice %></p>
<h3>Datos de la Clase</h3>
<p>
  <strong>nombre:</strong>
  <%= @grade.name %>
</p>
<div>
	
<%= link_to 'Editar', edit_grade_path(@grade) %> |
<%= link_to 'Regresar', grades_path %>
</div>
</div>
<% end -%>