<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
  /* Email styles need to be inline */
  </style>
</head>

<body style="margin:0;">
 <header style="    width: 100%;
 height: 6vh;
 background-color: #02A1E3;
 color: #ffffff;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 13px;
 text-align: center;
 font-weight: bold; 
 ">



</header>

<section style="    width: 100%;
height: 80vh;
background-color: #E7E9E8;
position: absolute;
color: #656565;
bottom: 10.7vh;
display: flex;
justify-content: center;
flex-flow: column;
align-items: center;
padding-top: 2vh;
padding-bottom: 2vh;
font-size: 1em;
">

<div class="col-6 pl-0" style="width:100%; margin: 0 auto; text-align: center;">
<div>
  <h3>Resumen de la Compra</h3>
  <p> <strong>Total a Pagar: </strong><%= @policy.total_amount %> </p>
  <p> <strong>Cobertura: </strong><%= @policy.hedge.name %> </p>
  <p> <strong>Valido hasta: </strong><%= @policy.valid_since %> </p>
</div>
</div>
</section>
<section style="    color: #656565;
justify-content: center;
align-items: center;
flex-flow: column;
font-size: 15px;
">

</section>
<footer style="    width: 100%;
height: 6vh;
background-color: #02A1E3;
color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
font-size: 13px;
text-align: center;
font-weight: bold; 
">
</footer>
</body>
</html>
