<%= form_for(hedge) do |f| %>
  <% if hedge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hedge.errors.count, "error") %> prohibited this hedge from being saved:</h2>

      <ul>
      <% hedge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :maximum_amount %>
    <%= f.text_field :maximum_amount,class:"form-control" %>
  </div>

 <div class="form-group  butons">
  <%= link_to 'Cancelar', policies_path, class: "hvr-skew-backward pull-right"   %>
  <%= f.submit "Aceptar", class: "hvr-skew-backward pull-right"  %>
</div>
<% end %>
