<% if user_signed_in? && current_user.id==1 %>
<p id="notice"><%= notice %></p>

<h1>coberturas</h1>
<section class="table_flex_five pl-0 pr-0">
<table id="datatable" class="table table-hover">  <thead>
    <tr>
      <th>Nombre</th>
      <th>Monto Maximo</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @hedges.each do |hedge| %>
      <tr>
        <td><%= hedge.name %></td>
        <td><%= hedge.maximum_amount %></td>
        <td><%= link_to 'Show', hedge,class: "hvr-skew-backward" %>
        <%= link_to 'Edit', edit_hedge_path(hedge),class: "hvr-skew-backward" %>
        <%= link_to 'Destroy', hedge, method: :delete, data: { confirm: 'Are you sure?' },class: "hvr-skew-backward" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Cobertura', new_hedge_path,class: "hvr-skew-backward pull-left" %>
<% end -%>