<% if user_signed_in? && current_user.id==1 %>
<div class="jumbotron col-md-6 col-md-offset-3">
<h3>Datos de la cobertura</h3>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @hedge.name %>
</p>

<p>
  <strong>Monto Maximo:</strong>
  <%= @hedge.maximum_amount %>
</p>

<%= link_to 'Editar', edit_hedge_path(@hedge) %> |
<%= link_to 'Regresar', hedges_path %>
</div>
<% end -%>