<nav class="navbar white navbar-default">
	<div class="logo"></div>

	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span>
				<span class="icon-bar top-bar"></span>
				<span class="icon-bar middle-bar"></span>
				<span class="icon-bar bottom-bar"></span>
			</button>
		</div>

		<div id="navbar-1" class="navbar-collapse collapse mainnav">
			<ul class="nav navbar-nav">
					<% if user_signed_in? && current_user.id==1 %>
					<li><%= link_to "Inicio", root_path %></li>
					<li><%= link_to "Clases", grades_path %></li>
					<li><%= link_to "SubClases", subgrades_path %></li>
					<li><%= link_to "Pagos de Polizas", payment_policies_path %></li>
					<li><%= link_to "Vehiculos", cars_path %></li>
					<li><%= link_to "Polizas", policies_path %></li>
					<li><%= link_to "Tomadores", takers_path %></li>
					<li><%= link_to "Cerrar Sección", destroy_user_session_path(:layout => 'admin'), method: :delete %></li>
					<% elsif user_signed_in? %>
					<li><%= link_to "Comprar Poliza", new_policy_path %></li>
					<li><%= link_to "pagar Poliza", new_payment_policy_path %></li>
					<li><%= link_to "Cerrar Sección", destroy_user_session_path(:layout => 'admin'), method: :delete %></li>
					<% else -%>
					<li><%= link_to "Iniciar Sección", user_session_path %></li>
					<% end -%>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!--/.container-fluid -->
	</nav>