<%= form_for(payment_policy) do |f| %>
  <% if payment_policy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_policy.errors.count, "error") %> prohibited this payment_policy from being saved:</h2>

      <ul>
      <% payment_policy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12">
 <%= f.text_field :policy_id ,hidden:"true",id:"policy_id" %>
</div>
  <div class="form-group">
    <%= f.label :numero_de_tarjeta %>
    <%= f.text_field :card_number, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nombre_del_titular%>
    <%= f.text_field :name_card_holder, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_de_vencimiento %>
    <%= f.date_field :expiration_date_card , class:"form-control", onchange:"ValidarFecha(this)"%>
    <div id="msj"></div>
  </div>

  <div class="form-group">
    <%= f.label :codigo_de_seguridad %>
    <%= f.text_field :card_security_code, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :numero_de_coutas %>
    <%= f.number_field :number_quota, class:"form-control" %>
  </div>

<div class="form-group col-md-12 butons pr-0">
  <%= link_to 'Cancelar', policies_path, class: "hvr-skew-backward pull-right"   %>
  <%= f.submit "Aceptar", class: "hvr-skew-backward pull-right", id:"btn-payment-policies"  %>
</div>
<% end %>
