
$("#seccion-compra").show();

$("#seccion-compra").show();
$("#policy_id").val("<%= @policy.id %>");
$("#placa").text("<%= @policy.car.license_plate %>");
$("#age").text("<%= @policy.car.age %>");
$("#num_passengers").text("<%= @policy.car.num_passengers %>");
$("#cylinder").text("<%= @policy.car.cylinder %>");
$("#tons").text("<%= @policy.car.tons %>");
$("#grade").text("<%= @policy.car.subgrade.grade.name %>");
$("#mensaje").hide();

