<% if user_signed_in? && current_user.id==1 %>
<h1>Editando Metodo Pago de Poliza</h1>

<%= render 'form', payment_policy: @payment_policy %>

<%= link_to 'Ver ', @payment_policy %> |
<%= link_to 'Regresar', payment_policies_path %>
<% end -%>