<% if user_signed_in? && current_user.id==1 %>
<p id="notice"><%= notice %></p>

<h1>Pago de Polizas</h1>

<section class="table_flex_five pl-0 pr-0">
<table id="datatable" class="table table-hover">  
  <thead>
    <tr>
      <th>Numero de Tarjeta</th>
      <th>Nombre del titular</th>
      <th>Fecha de Expiracion de la tarjeta</th>
      <th>Codigo de seguridad de la tarjeta</th>
      <th>Numero de Coutas</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @payment_policies.each do |payment_policy| %>
      <tr>
        <td><%= payment_policy.card_number %></td>
        <td><%= payment_policy.name_card_holder %></td>
        <td><%= payment_policy.expiration_date_card %></td>
        <td><%= payment_policy.card_security_code %></td>
        <td><%= payment_policy.number_quota %></td>
        <td><%= link_to 'Ver', payment_policy,class: "hvr-skew-backward" %>
        <%= link_to 'Editar', edit_payment_policy_path(payment_policy),class: "hvr-skew-backward" %>
        <%= link_to 'Eliminar', payment_policy, method: :delete, data: { confirm: 'Are you sure?' },class: "hvr-skew-backward" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end -%>

<br>

