<% if user_signed_in? && current_user.id!=1 %>
<h1>New Payment Policy</h1>
<%= form_tag('/payment_policies/new', :method => "get", remote: true ) do %>
<div class="col-md-12 form-group pl-0 pr-0">
	<div class="col-md-6 pl-0 pr-0">
		<%= text_field_tag :license_plate, params[:license_plate], placeholder:"Ingrese placa", class:"form-control" %>
	</div>
	<div class="col-md-6 pull-left">
		<%= submit_tag "Buscar", data: {disable_with: "Buscando ..."}, :code => nil,class: "hvr-skew-backward pull-left btn-search" %>
	</div>
</div>
<%end%>

<div id="seccion-compra">
	<div class="jumbotron col-md-6"> 
		<h4 class="center"><strong>Datos del Vehiculo</strong></h4>
		<div class="col-md-12">	
			<div class="col-md-4"><p>placa</p></div><div class="col-md-8" ><p id="placa"></p></div>
		</div>
		<div class="col-md-12">	
			<div class="col-md-4"><p>año</p></div><div class="col-md-8" ><p id="age"></p></div>
		</div>
		<div class="col-md-12">	
			<div class="col-md-4"><p>numero de pasajeros</p></div><div class="col-md-8" ><p id="num_passengers"></p></div>
		</div>
		<div class="col-md-12">	
			<div class="col-md-4"><p>Cilindraje</p></div><div class="col-md-8" ><p id="cylinder"></p></div>
		</div>
		<div class="col-md-12">	
			<div class="col-md-4"><p>Toneladas</p></div><div class="col-md-8" ><p id="tons"></p></div>
		</div>
		<div class="col-md-12">	
			<div class="col-md-4"><p>Clase</p></div><div class="col-md-8" ><p id="grade"></p></div>
		</div>
	</div>
	<div class="col-md-6">
		<%= render 'form', payment_policy: @payment_policy %>
	</div>
</div>


<%= link_to 'Back', payment_policies_path %>
<% end -%>