<% if user_signed_in? %>
<div class="jumbotron col-md-6 col-md-offset-3">
  <h3>Datos del Pago de Poliza</h3>
<p id="notice"><%= notice %></p>

<p>
  <strong>Numero de la tarjeta:</strong>
  <%= @payment_policy.card_number %>
</p>

<p>
  <strong>Nombre del titular:</strong>
  <%= @payment_policy.name_card_holder %>
</p>

<p>
  <strong>Fecha de expiración:</strong>
  <%= @payment_policy.expiration_date_card %>
</p>

<p>
  <strong>Codigo de seguridad:</strong>
  <%= @payment_policy.card_security_code %>
</p>

<p>
  <strong>Number quota:</strong>
  <%= @payment_policy.number_quota %>
</p>

<%= link_to 'Edit', edit_payment_policy_path(@payment_policy) %> |
<%= link_to 'Back', payment_policies_path %>
</div>
<% end -%>