
<%= form_for(taker) do |f| %>
<% if taker.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(taker.errors.count, "error") %> prohibited this taker from being saved:</h2>

  <ul>
    <% taker.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="form-group">
  <%= f.label :number_document %>
  <div class="col-md-12 pl-0 pr-0">
    <div class="col-md-1 input_100 pl-0">
      <%= f.select(:type_document) do %>
      <% [['E', 1], ['C']].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
      <% end %>
    </div>
    <div class="col-md-11 pl-0 pr-0">
      <%= f.text_field :number_document,class:"form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :nombre %>
  <%= f.text_field :name,class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :apellido %>
  <%= f.text_field :surname,class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :correo %>
  <%= f.text_field :email,class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :telefono %>
  <%= f.text_field :phone,class:"form-control" %>
</div>

<div class="form-group butons">
  <%= link_to 'Regresar', takers_path,class: "hvr-skew-backward" %>
  <%= f.submit 'Aceptar',class: "hvr-skew-backward" %>
</div>
<% end %>
