<% if user_signed_in? && current_user.id==1 %>
<p id="notice"><%= notice %></p>

<h1>Tomadores</h1>
<section class="table_flex_five">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Tipo de Documento</th>
      <th>Numero de Documento</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @takers.each do |taker| %>
      <tr>

        <td><%= taker.type_document %></td>
        <td><%= taker.number_document %></td>
        <td><%= taker.name %></td>
        <td><%= taker.surname %></td>
        <td><%= taker.email %></td>
        <td><%= taker.phone %></td>
        <td><%= link_to 'Show', taker,class: "hvr-skew-backward"  %>
        <%= link_to 'Edit', edit_taker_path(taker),class: "hvr-skew-backward"  %>
        <%= link_to 'Destroy', taker, method: :delete, data: { confirm: 'Are you sure?' },class: "hvr-skew-backward"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Taker', new_taker_path,class: "hvr-skew-backward pull-left" %>
</section>
<% end -%>