<% if user_signed_in? && current_user.id==1 %>
<div class="jumbotron col-md-6 col-md-offset-3">
  <h3>Datos del tomador</h3>
<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de documento:</strong>
  <%= @taker.type_document %>
</p>

<p>
  <strong>Numero de documento:</strong>
  <%= @taker.number_document %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @taker.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @taker.surname %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @taker.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @taker.phone %>
</p>

<%= link_to 'Editar', edit_taker_path(@taker) %> |
<%= link_to 'Regresar', takers_path %>
</div>
<% end -%>
