<div class="center-flex  ">
  <div class="jumbotron col-md-4">
<h2>Inciar Sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :Correo %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :contraseña %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Entrar",  class: "hvr-skew-backward pull-right"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div