// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery.turbolinks
//= require jquery_ujs
//= require dataTables/jquery.dataTables
//= require_tree .


$(document).ready(function(){


$('#datatable').dataTable({
	"language": {
		"zeroRecords": "<%= I18n.t('.general.attributes.zeroRecords') %>",
		"search":"<%= I18n.t('.general.attributes.search') %>",
		"lengthMenu":"<%= I18n.t('.general.attributes.lengthMenu') %>",
		"info":"<%= I18n.t('.general.attributes.info') %>",
		"infoEmpty":"<%= I18n.t('.general.attributes.infoEmpty') %>",
		"first":"<%= I18n.t('.general.attributes.first') %>",
		"last":"<%= I18n.t('.general.attributes.last') %>",
		"infoFiltered": "Filtrando de  _MAX_ registros ",
		"paginate": {
			"previous": "<%= I18n.t('.general.attributes.previous') %>",
			"next": "<%= I18n.t('.general.attributes.next') %>",
			"first": "<%= I18n.t('.general.attributes.first') %>",
			"last": "<%= I18n.t('.general.attributes.last') %>"
		}
	},
	"columnDefs": [
	{
		"targets": [ -1 ],
		"searchable": false
	}
	]
});

