body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}*/

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.navbar-inverse {
    background-color: #ddd !important;
    border-color: #ddd !important;
    color: wheat;
}
.center-flex{
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-flow: column;
}

.butons{
  a{
    color: #fff;
  }
  input{
    margin-right: 2rem;
  }
}
.table_flex_five
{   
  width: 100% !important;
/* margin-top: 50px !important;
margin-bottom: 50px !important; */
margin-right: 14px !important;
margin-left: 14px !important;
display: -webkit-box !important;
display: -ms-flexbox !important;
display: flex !important;
padding: 0 !important;
-ms-flex-flow: column;
flex-flow: column;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
h3::after, .h3::after,
h1::after, .h1::after,
h2::after, .h2::after,
h3::after, .h3::after,
h4::after, .h4::after, 
h5::after, .h5::after, 
h6::after, .h6::after,
p
{
  content: "" !important;
/* width: auto !important;
height: auto !important; */
margin: 0 !important;
/* background-color: #4C9FDC !important; */
}
table
{
  width: 100% !important;
  max-width: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  margin-top: 1rem;
  padding-right: 14px;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: horizontal !important;
  -ms-flex-direction: row !important;
  -moz-flex-direction: row !important;
  flex-direction: row !important;
  td,th
  {
    border:none !important;
    margin: 0 !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  thead,tbody
  {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    overflow-y: visible;
    width: 100%;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  thead:nth-child(odd):not(:nth-child(1)),tbody:nth-child(odd)
  {
    display: none !important;
  }
  thead
  {
    tr:not(:last-child)
    {
      display: none !important;
    }
    font-size: 11px;
  }
  tbody {
    tr
    {
      &:hover
      {
        td
        {
          background:#E7E9E8 !important;
        }
      }
    }

  }
  thead,tbody
  {
    border-bottom: 2px solid #dddddd !important;
    tr
    {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      th,td
      {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        flex: -moz-available;
        flex: -webkit-fill-available;
        &:last-child{padding-right: 0 !important}
      }
      th
      {
        font-weight: bold;
        height: auto !important;
        display: -webkit-inline-box !important;
        display: -o-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        h5{font-size: 1.1rem}
      }
      td
      {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

      }
      td a
      {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        flex: -moz-available;
        flex: -webkit-fill-available;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        margin: 0 2px !important;
        padding: .5rem .2rem !important;
        justify-content: -webkit-center !important;
        justify-content: -moz-center !important;
        -ms-flex-pack: -ms-center !important;
        justify-content: -ms-center !important;
        -webkit-box-pack: center !important;
        justify-content: center !important;
        font-size: 1rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &:last-child{margin-right: 0 !important}
      }
      td
      {
        a
        {
          i
          {
            display: none;
            min-height: 2em !important;
          }
        }
      }
    }
  }
  tbody{border:none !important}
  & ~ a.hvr-skew-backward
  {
    margin-left: 0 !important;
  }
}
}
.hvr-skew-backward
{
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
-webkit-transition-property: -webkit-transform;
transition-property: -webkit-transform;
transition-property: transform;
transition-property: transform, -webkit-transform;
-webkit-transform-origin: 0 100%;
transform-origin: 0 100%;
color: #fff !important;
border-color: #00a1e1 !important;
background: #00A1E1 !important;
/*border-width: 3px !important;*/
/* background-color: #0066CC; */
padding: 0.7em 1em;
font-size:1em;
float: right;
-webkit-transition: .2s background-color ease-in-out;
transition: .2s background-color ease-in-out;
margin: 0px;
border: none !important;
&:hover,&:active, &:focus
{
text-decoration: none !important;
background-color: #005DBA !important;
/*border-color: #FFF !important;*/
/* box-shadow: inset 0 0 1px #FFF !important; */
border-radius: 3px; 
}
}
.m-0{
margin: 0 !important;
}
.ml-0{
margin-left: 0 !important;
}
.mr-0{
margin-right: 0 !important;
}
.mt-0{
margin-top: 0 !important;
}
.mb-0{
margin-left: 0 !important;
}
.p-0{
padding: 0 !important;
}
.pl-0{
padding-left: 0 !important;
}
.pr-0{
padding-right: 0 !important;
}
.pt-0{
padding-top: 0 !important;
}
.pb-0{
padding-bottom: 0 !important;
}
.navbar-default {
background-color: #f8f8f8;
border-color: #e7e7e7;
display: block !important;
}
.btn-search{
padding-bottom: 8px !important;
padding-top: 7px !important;
}
.jumbotron p {
    margin-bottom: 15px ;
    font-size: 1em !important;
    font-weight: 200;
}
.input_100{
input, select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
}

.alert>p{
      float: left;
    padding-right: 1rem;
}
.message{
  color: red;
}