<%= form_for(car) do |f| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
    <%= f.label :Placa %>
    <%= f.text_field :license_plate,class:"form-control" %>
  </div>
  <div class="form-group input_100">
    <%= f.label :grade_id %>
  <%= f.collection_select :grade_id, Grade.all, :id, :name,class:"form-control",include_blank:"Seleccione" %>
  </div>
   <div class="form-group input_100">
    <%= f.label :subgrade_id %>
  <%= f.grouped_collection_select :subgrade_id, Grade.order(:name), :subgrades,:name,:id, :name, include_blank:"Seleccione" %>
  </div>
  

  <div class="form-group">
    <%= link_to 'Back', cars_path, class: "hvr-skew-backward pull-right" %>
    <%= f.submit  class: "hvr-skew-backward pull-right" %>
  </div>
<% end %>
