<div id="myModal" class="modal fade" role="dialog">
  <div id="capa">

  </div>
  <div class="modal-dialog" >
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="button-equis">&times;</button>
        <h1 class="title-center">Registrar Beneficiario</h1>
      </div>ss
      <div class="modal-body">
       <%= form_for(car) do |f| %>
       <% if car.errors.any? %>
       <div id="error_explanation">
        <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

        <ul>
          <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="form-group">
        <%= f.label :Placa %>
        <%= f.text_field :license_plate,class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :clase %>
        <%= f.collection_select :grade_id, Grade.all, :id, :name,class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :age %>
        <%= f.number_field :age,class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :num_passengers %>
        <%= f.number_field :num_passengers,class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :cylinder %>
        <%= f.number_field :cylinder,class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :tons %>
        <%= f.number_field :tons,class:"form-control" %>
      </div>

      <div class="form-group">
        <%= link_to 'Back', cars_path, class: "btn btn-danger" %>
        <%= f.submit  class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
    <div class="modal-footer">

    </div>
  </div>

</div>
</div>

