<% if user_signed_in? && current_user.id==1 %>
<p id="notice"><%= notice %></p>

<h1>Vehiculos</h1>
<section class="table_flex_five">
<table id="datatable">
  <thead>
    <tr>
      <th>Placa</th>
      <th>Clase</th>
      <th>Subclase</th>
      <th>Edad</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
    <tr>
       <td><%= car.license_plate %></td>
      <td><%= car.subgrade.grade.name %></td>
      <td><%= car.subgrade.name %></td>
      <td><%= car.age %></td>
      <td><%= link_to 'Ver', car,class: "hvr-skew-backward"  %>
      <%= link_to 'Edita', edit_car_path(car),class: "hvr-skew-backward"  %>
      <%= link_to 'Eliminar', car, method: :delete, data: { confirm: 'Are you sure?' } ,class: "hvr-skew-backward" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</section>
<br>

<%= link_to 'nuevo', new_car_path,class: "hvr-skew-backward pull-left" %>

<% end -%>