<% if user_signed_in? && current_user.id==1 %>
<div class="jumbotron col-md-6 col-md-offset-3">
	<h3>Datos del Vehiculo</h3>
	<p id="notice"><%= notice %></p>
	<p>
		<strong>Age:</strong>
		<%= @car.age %>
	</p>

	<p>
		<strong>Num passengers:</strong>
		<%= @car.num_passengers %>
	</p>

	<p>
		<strong>Cylinder:</strong>
		<%= @car.cylinder %>
	</p>

	<p>
		<strong>Tons:</strong>
		<%= @car.tons %>
	</p>
		<%= link_to 'Editar', edit_car_path(@car) %> 
		<%= link_to 'Regresar', cars_path %>
</div>
<% end -%>