<% if user_signed_in? && current_user.id==1 %>
<%= form_for(subgrade) do |f| %>
  <% if subgrade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subgrade.errors.count, "error") %> prohibited this subgrade from being saved:</h2>

      <ul>
      <% subgrade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group input_100">
    <%= f.label :clase %>
  <%= f.collection_select :grade_id, Grade.all, :id, :name,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :prima %>
    <%= f.text_field :bonus,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :contribución %>
    <%= f.text_field :contribution,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tasa %>
    <%= f.text_field :rate,class:"form-control" %>
  </div>

  <div class="form-group butons">
    <%= link_to 'Regresar', subgrades_path, class: "hvr-skew-backward" %>
    <%= f.submit 'Aceptar',class: "hvr-skew-backward" %>
  </div  >
<% end %>
<% end -%>