<% if user_signed_in? && current_user.id==1 %>
<h1>Editing Subgrade</h1>

<%= render 'form', subgrade: @subgrade %>

<%= link_to 'Show', @subgrade %> |
<%= link_to 'Back', subgrades_path %>
<% end -%>