<p id="notice"><%= notice %></p>

<h1>SubClases</h1>

<section class="table_flex_five pl-0 pr-0">
<table id="datatable" class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Prima</th>
      <th>Contribution</th>
      <th>Tasa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subgrades.each do |subgrade| %>
      <tr>
        <td><%= subgrade.name %></td>
        <td><%= subgrade.bonus %></td>
        <td><%= subgrade.contribution %></td>
        <td><%= subgrade.rate %></td>
        <td><%= link_to 'Show', subgrade %></td>
        <td><%= link_to 'Edit', edit_subgrade_path(subgrade) %></td>
        <td><%= link_to 'Destroy', subgrade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>

<br>

<%= link_to 'Nueva SubCalase', new_subgrade_path %>
