<% if user_signed_in? && current_user.id==1 %>
<div class="jumbotron col-md-6 col-md-offset-3">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @subgrade.name %>
</p>

<p>
  <strong>Prima:</strong>
  <%= @subgrade.bonus %>
</p>

<p>
  <strong>Contribución:</strong>
  <%= @subgrade.contribution %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @subgrade.rate %>
</p>

<%= link_to 'Edit', edit_subgrade_path(@subgrade) %> |
<%= link_to 'Back', subgrades_path %>
</div>
<% end -%>