<!DOCTYPE html>
<html>
<head>
<title>SeguroSoat</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="container">
<%= render "partials/nav" %>
<%= yield %>

</div>
</body>
</html>
