<%= form_for(policy) do |f| %>
<% if policy.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(policy.errors.count, "error") %> prohibited this policy from being saved:</h2>

  <ul>
    <% policy.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-md-12">
 <%= f.text_field :car_id ,hidden:"true",id:"car_id" %>
</div>

<div class="form-group col-md-12 input_100">
  <%= f.label :cobertura %>
  <%= f.collection_select :hedge_id, Hedge.all, :id, :name, class:"form-control",include_blank:"Seleccione" %>
</div>

<div class="form-group col-md-12">
  <%= f.label :total_amount %>
  <%= f.text_field :total_amount ,hidden:"true",class:"form-control" %>
  <p id="total_amount"></p>
</div>

<div class="form-group col-md-12">
  <%= f.label :valid_since %>
  <%= f.date_field :valid_since, class:"form-control"  %>
</div>

<div class="form-group col-md-12 butons">
  <%= link_to 'Cancelar', policies_path, class: "hvr-skew-backward pull-right"   %>
  <%= f.submit "Aceptar", class: "hvr-skew-backward pull-right"  %>
</div>
<% end %>
