$("#seccion-compra").show();
$("#car_id").val("<%= @car.id %>");
$("#placa").text("<%= @car.license_plate %>");
$("#age").text("<%= @car.age %>");
$("#num_passengers").text("<%= @car.num_passengers %>");
$("#cylinder").text("<%= @car.cylinder %>");
$("#tons").text("<%= @car.tons %>");
$("#grade").text("<%= @car.subgrade.grade.name %>");
$("#mensaje").hide();

var total_amount= <%= @car.subgrade.bonus +  0.50*@car.subgrade.bonus + 1610 %>;
$("#policy_total_amount").val(total_amount);
$("#policy_total_amount").hide();
$("#total_amount").text(total_amount);
