<% if user_signed_in? && current_user.id==1 %>
<p id="notice"><%= notice %></p>

<h1>Polizas</h1>
<section class="table_flex_five pl-0 pr-0">
<table id="datatable" class="table table-hover">
  <thead>
    <tr>
      <th>Placa</th>
      <th>Monto Total</th>
      <th>Valido hasta</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @policies.each do |policy| %>
      <tr>
        <td><%= policy.car.license_plate %></td>
        <td><%= policy.total_amount %></td>
        <td><%= policy.valid_since %></td>
        <td><%= link_to 'Ver', policy ,class: "hvr-skew-backward" %>
        <%= link_to 'Editar', edit_policy_path(policy),class: "hvr-skew-backward" %>
        <%= link_to 'Eliminar', policy, method: :delete, data: { confirm: 'Are you sure?' },class: "hvr-skew-backward" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Poliza', new_policy_path,class: "hvr-skew-backward pull-left" %>
<% end -%>