<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body onload='number_pages'>
  <div class="col-12">
  </div>
  <div class="col-4"></div>
  <div class="col-6 pl-0">
  	<div class="col-12 cab-thead text-center">
  		<p>Datos de la Compra</p>
  	</div>
  	<div class="col-6 ">
  		<strong>Total a Pagar</strong>
  	</div>
  	<div class="col-6">
  		<strong> <%= @policy.total_amount %></strong>
  	</div>
  	<div class="col-6 ">
  		<strong>Cobertura</strong>
  	</div>
  	<div class="col-6">
  		<p><strong> <%= @policy.hedge.name %></strong></p>
  	</div>
  	<div class="col-6 ">
  		<strong>Cobertura</strong>
  	</div>
  	<div class="col-6">
  		<strong> <%= @policy.valid_since %></p></strong>
  	</div>
  </div>


 </div>
</body>
</html>

