<% if user_signed_in?  %>
<div class="jumbotron col-md-6 col-md-offset-3">
	<h3>Datos de la Compra</h3>
<p id="notice"><%= notice %></p>

<p>
  <strong>Total a Pagars:</strong>
  <%= @policy.total_amount %>
</p>
<p><strong>Cobertura</strong>
 <%= @policy.hedge.name %></p>
<p>

  <strong>Valid since:</strong>
  <%= @policy.valid_since %>
</p>


<%= link_to 'Edit', edit_policy_path(@policy),class:"fa fa-download" %> 
<%= link_to 'Back', policies_path,class:"fa fa-download" %>
<%= link_to "Exportar a PDF", policy_path(format: "pdf") , :target => "_blank", class:"fa fa-download" %>  
</div>
<% end -%>